/** Denna filen innehåller all styling för plattformen **/

.list-group {
    text-align: center;
}

.row {
    margin: auto !important;
}

.content {
    margin-top: 20px;
    text-align: center;
}

.cen {
    margin-left: 30%;
}

.mr-2 {
    color: #00eacc;
}

.list-group-item.active {
    border-color: #00eacc;
}

.theme--light.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header--active:before, .theme--light.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header--active:hover:before, .theme--light.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header:focus:before {
    background-color: #7fffd47d;
    opacity: 0.50 !important;
}

.full-booked {
    background-color: #e93f332e;
    border-left: 6px solid red;
    max-width: 8em;
    padding: 4px;
    margin: 10px;
    margin-right: 4em;
    text-align: center;
}

.available {
    background-color: #4181072e;
    border-left: 6px solid green;
    max-width: 8em;
    padding: 4px;
    margin: 10px;
    margin-right: 4em;
    text-align: center;
}

.name {
    margin-bottom: 0 !important;

}

b {
    text-align: right;
}

.list-group-item {
    padding: 0.25rem !important;
}
